@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
 
*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
 
  h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
  }



.item{
    padding: 1rem;
    }
    nav a{
        color: var(--blanco);
        text-decoration: none;
    }
    .logo img{
        height: 3rem;
    }

    #features{
        background: url(../img/bg-features.png);
        color: white;
        padding-top: 1rem;
    }
     
    .features-title{
        background-color: rgba(0,0,0,0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
    }

    .features-description{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .feature{
        width: 25%;
        min-width: 180px;
        max-width: 230px;
        margin: 0.8rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
     
    .feature i{
        font-size: 2.2em;
        margin-bottom: 1.5rem;
    }
    
    .feature-blue{
        background-color: #00325eae;
    }
     
    .feature-black{
        background-color: rgba(0,0,0,0.59);
    }
    
    .logo{
        background-color: var(--negro2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .logo img{
        width: 40%;
        max-width: 200px;   
    }
    .logo i{
        color: var(--blanco);
        font-size: 2rem;
    }
    .menu{
        background-color: rgba(1, 10, 52, 0.838);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
    }
    .menu-hr{
        width: 90%;
        background-color: var(--blanco);
    }
    .item{
    padding: 1rem;
    }
    nav a{
        color: var(--blanco);
        text-decoration: none;
        text-align: center;
    }
    nav a:hover{
        background-color: #0B3860;
        width: 100%;
    }
    .navbar-button{
        background-color:transparent;
        border: none;
        border-radius: 3px;
        font-size: 1em;
        padding: 0.5rem;
        font-family: 'Marcellus', serif;
        color: var(--blanco);
    }
    /*Resolución tablet*/
    @media screen and (min-width: 768px){
       
    }
    /*Resolución notebooks*/
    @media screen and (min-width: 1024px){
          
        nav{
            display: flex;
            flex-direction: row; /*cambiamos la disposición de los elementos*/
            width: 100%;
            justify-content: space-between;
            background-color: var(--negro2);
        }
        .logo{
            padding: 1rem;
        }
        .logo img{
            width: 100%;
            max-width: 180px;       
        }
        .logo i{  /*ocultamos el ícono bars del menú hamburguesa*/
            display: none;
        } 
        .menu{
            background-color: var(--negro2);
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .men    u-hr{ /*ocultamos la barra de división*/
            display: none;
        }
        .navbar-button{
            background-color:var(--azuloscuro);
        }       
    }
    /*Resolución notebooks*/
    @media screen and (min-width: 1308px){
        
    }
    
    #caminar{
        background: url(../img/slide1.jpg);
        color: white;
        width: 100%;
        height: 780px;
        background-repeat: no-repeat;

    }

    .caminar-title{
        font-family: 'Roboto', sans-serif;
        background: linear-gradient(to right,rgba(0,0,0,0.60), transparent);
        padding: 0.5rem;
        font-size: 3.5em;
        margin-top: 31rem;
        margin-right: 700px;

    }


    

    .caminar-description{
        display: flex; 
        align-items:flex-start;
        justify-content: flex-start;

       
    }

    #texto{
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;

    }

    .texto-title{
        padding: 0.5rem;
        font-size: 1.5em;
        margin-left: 180px;
        margin-right: 500px;
        margin-top: 50px;
    }

    .texto-description{
        display: flex; 
        align-items:center;
        justify-content: flex-start;

    }

    #campana{
        margin-top: 50px;
        margin-right: 160px;
    }
  
    .ubicanos-title{
        
        text-align: center;
        padding: 0.5rem;
        font-size: 3.5em;
    }

    .map{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 8px;
        margin-top: 8px;
    }

    .mapas{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: 8px;
        margin-top: 8px;
    }

    #direccion {
        display: flex;
        justify-content: center;
    }
    hr{
        height: 2px;
        background-color: lightskyblue;
        width: 50%;
        margin-left: 25%;
    }

    #numero {
        display: flex;
        justify-content: center;
    }