@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0b3860 80.34%);
}
*
{
    margin:0;
}
body
{
    font-family: 'Marcellus', serif;
    font-size: 16px;
}
h1,h2,h3,h4,h5
{
    font-family: 'Marcellus', serif;
}
nav
{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #333333;
      font-family: 'Marcellus', serif;
      font-size: 1.3em;
      padding: 1rem;
}
.item
{
      border-radius: 5%;
      background-color: #337AB7;
      padding: 0.5rem;
}

.logo{
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
  }

  .logo img{
      width: 40%;
      max-width: 200px;   
  }
  .logo i{
      color: var(--blanco);
      font-size: 2rem;
  }
      
  .menu{
      background-color: rgba(1, 10, 52, 0.838);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;  
  }
  .menu-hr{
      width: 90%;
      background-color: var(--blanco);
  }
  .item{
  padding: 1rem;}

.navbar-button{
    background-color:transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}

nav a{
      color: var(--blanco);
      text-decoration: none;
      padding: 1rem;
}
nav a:hover{
      background-color: #0B3860;
      width: 100%;
      }


.logo img
{
      height: 3rem;     
}
#features
{
      background: url(../img/bg-features.png);
      color: white;
      padding-top: 1rem;
}
.features-title
{
      background-color: rgba(0, 0, 0, 0.342);
      text-align: center;
      padding: 0.5rem;
      font-size: 1.5rem;
}
.features-description
{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
}
.feature
{
      width: 25%;
      min-width: 180px;
      max-width: 230px;
      margin: 0.8rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
}
.feature i
{
      font-size: 2.2rem;
      margin-bottom: 1.5rem;
}
.feature-blue
{
      background-color: rgba(9, 53, 104, 0.493);
}
.feature-black
{
      background-color: rgba(0, 0, 0, 0.699);
}

.slider img
{
      width: 100%;
      height: 100%;
}
.contenido
{
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
}
#textosl p
{
      position: absolute;
    top: 77%;
    font-family: 'Marcellus', serif;
    font-size: 3rem;
    background-color: rgba(29, 21, 21, .658);
    color: white;
    width: 53%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;

}
.informacion
{
      width: 100%;
      height: 100%;  
      display: flex;
      justify-content: space-around;  

}
.text-log
{
      margin: 2.5em;
      display: flex;
      justify-content: space-around;
      align-items: center;
}
#parrafo1
{
      font-size: 1.1em;
      width: 45%;
}
#imgHoteliaVertical img
{
      width: 65%;
      height: 65%;
}
#imgHoteliaVertical{     
      display: flex;
      justify-content: center;
}
.ubi h1
{
      display: flex;
      justify-content: center;
      margin-top: 3%;
      font-size: 3em;
}
.mapa 
{
      display: flex;
      justify-content: center;
      padding: 1rem;
}
.mapa iframe
{
      width: 100%;
}
.direccion h3
{

      font-size: 1.5em;
      display: flex;
      justify-content: center;
}
.linea
{
      display: flex;
      justify-content: center;
      margin-left: 25%;
      margin-right: 25%;
      background-color: #337AB7;
      width: 50%;
      height: 0.1em;
      
}
.direccion
{
      padding: 2em;
}
#titulo
{
      display: flex;
      justify-content: center;
      background-color: var(--negro);
      align-items: center;
      color: white;
      height: 7em;
      font-size: 2em;
}
#titulo h1
{
      margin-bottom: 2%;
}
.contenopi
{
      height: 26em;
}
.all 
{
      display: flex;
     justify-content: space-around;
     width: 100%;
     position: absolute;
     margin-top: -2%;

}
.all img
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 40px;
    margin-left: 9%;
    margin-top: 3%;
}

#opinion
{
      display: flex;
      flex-direction: column;
      background: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
      color:var(--blanco);
      width: 20%;
      border-radius: 3%;
}

.find {
      text-align: center;
      font-size: 2.2rem;
  }


.nombre
{
      background-image: url(/img/Group\ 200.svg);
      background-size: cover;
}

.descripcion p{
margin-left: 9%;
    margin-bottom: 5%;
}
.nombre h5{
      margin-left: 30%;
      margin-top: -13%;
      font-size: 1.5rem;
}

.stars {
      margin-bottom: 10%;
      margin-left: 30%;
}

#opinion1
{
      display: flex;
      flex-direction: column;
      background: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
      color:var(--blanco);
      width: 20%;
      border-radius: 3%;
}

.nombre1
{
      background-image: url(/img/Group\ 200.svg);
      background-size: cover;
}

.descripcion1 p{
margin-left: 9%;
    margin-bottom: 5%;
}
.nombre1 h5{
      margin-left: 30%;
      margin-top: -13%;
      font-size: 1.5rem;
}

.stars {
      margin-bottom: 10%;
      margin-left: 30%;
}

.pie-pagina
{
      background-color: var(--negro);
      color: white;
      padding: 2%;
}
.pie-pagina .texto
{
      display: flex;
      justify-content: space-around;
      font-size: 1.2em;
      align-items: baseline;
      height: 9rem;
}
.parrafo
{
      width: 25%;
}
.icons
{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
}
.icons div
{
      display:flex;
      padding: 2%;
}
.politicas
{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 2%;
}

.redes
{
      display: flex;
      justify-content: space-between;
      width: 30%;
      margin-top: 5%;
}
#direccionamiento1
{
      margin-left: 3%;
}

div#separador1 {
      margin-top: 13%;
  }

  /*Resoluci贸n tablet*/
@media screen and (min-width: 768px){
   
}


/*Resoluci贸n notebooks*/
@media screen and (min-width: 1024px){
      
      nav{
          display: flex;
          flex-direction: row; 
          width: 100%;
          justify-content: space-between;
          background-color: var(--negro2);
      }
      .logo{
          padding: 1rem;
      }
      .logo img{
          width: 100%;
          max-width: 180px;       
      }
      .logo i{ 
          display: none;
      } 
      .menu{
          background-color: var(--negro2);
          display: flex;
          flex-direction: row;
          align-items: center;
      }
      .menu-hr{ 
          display: none;
      }
      .navbar-button{
          background-color:var(--azuloscuro);
      }       
  }

  /*Resoluci贸n notebooks*/
@media screen and (min-width: 1308px){
      #descripcion{
            justify-content: center;
      }
    
}

  /*Resoluci贸n notebooks*/
  @media screen and (min-width: 375px) and (max-width : 720px){

      
nav:hover .menu{
      display:flex;
      background-color: "transparent";
}  .contenido{
            font-size: 1rem;
      }

      .logo i{
      margin-left: 156%;
      margin-bottom: 225%;
      
    }

    .logo img{
      margin-bottom: 221%;
    }

    nav a{
      /*background: rgb(15,14,19);
      /*background: linear-gradient(90deg, rgba(15,14,19,0.8519782913165266) 45%, rgba(0,18,255,0.7455357142857143) 69%);*/
    width: 336%;
    display: flex;
    justify-content: center;
    margin-left: -111%;
    text-align: center;

    }

    

      .navbar-button{
            width: 50%;
    margin-right: 12%;
      }

      .menu{
            background-color: transparent;
    width: 59%;
      }

      .item{
            margin-left: -77%;
            background-color: transparent;
      }

      .menu-hr{
            width: 239%;
    margin-right: 120%;
    background-color: var(--blanco);
    margin-top: 16%;
      }

      #titulo h1{
            font-size: 1.5rem;
      }

      #opinion1{
            width: 75%;
      }

      #opinion{   
            display: none;
            
      }
      .nombre1 h5{           
       font-size: 0.9rem;
      }


      .pie-pagina .texto {
            display: flex;
            height: 40rem;
            flex-flow: column;
        }


      .parrafo{
            width: 107%;
      }

}





