@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
*{
    padding: 0  ;
    margin: 0;
}
img{
    width: 29%;

}


.center{
    display: flex  ;
    justify-content: center;
    align-items: center;
}
#room {
    width: 2100px;
    height: 1000px;
    background-image: url(../img/beds.jpg);
    background-repeat: no-repeat;
}

#filter{
    -webkit-backdrop-filter:blur(15px);
    backdrop-filter:blur(15px);
    background-color: rgba(243,243,243,0.2 ) ;
}


  #form-blanco{
    
    display: flex;
    flex-direction: column;
    background: linear-gradient(39deg, #337AB7 1.89%, #0B3860 160.34%);
    backdrop-filter: blur(5px);
    color: var(--blanco);
    width: 35%;
    border-radius: 3%;
  }

  #form-login {
    background-image: url(../img/Group\ 200\ login.svg);
    background-repeat: no-repeat;
    width: 655px;
    height: 569px;
    padding: 25px 30px;
    color: white;
    margin-top: -5%;
}


.login-box {
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }

  .sinfondo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: -54px;
    margin-left: 44%;
    margin-top: -79%;
    margin-bottom: 68%;
}

  .formulario {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 33%;
    margin-top: -69%;
    font-size: 1.4rem;
  }

  .formulario p{
    display: flex;
    justify-content: space-between;
    margin-top: 12%;
    margin-bottom: 2%;
    color: white;
  }

  input[type="text"] {
    width: 270px;
    height: 22px;
}
input[type="password"] {
    width: 270px;
    height: 22px;
}

.boton {
    font-family: 'Marcellus', serif;
    position: absolute;
    margin-top: 51%;
    width: 278px;
    height: 37px;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    margin-top: 35%;
    text-align: center;
    margin-left: -1%;
}

.no-cuenta{
    position: absolute;
    margin-top: 41%;
    display: flex;
    
}

a {
    text-decoration: none;
    margin-top: 12%;
    color: black;
}
.no-cuenta p{
    color: white;
}

/*
@media screen and (min-width : 760px) {

}*/

@media screen and (min-width : 320px) and (max-width : 720px){
    #room{
    width: 100%;
    background-size: cover;
        
    }
    #form-blanco{

    width: 117%;
    
    margin-right: 74%;
    
    margin-bottom: 2%;   
    margin-left: 70%;
    }

    #form-login{
        
        background-repeat: no-repeat;
    width: 407px;
    height: 460px;
    color: white;
    }
    .no-cuenta a{
        display: block;
    }
    .no-cuenta p{
        display: block;
    }
    .boton{
        margin-top: 62%;
    }
    }




         @media screen and (min-width : 721px) and (max-width : 768px){
            #room{
                width: 100%;
                background-size: cover;
                background-image: url(../img/beds.jpg);
                    
                }
                #form-blanco{
            
                width: 117%;
                
                margin-right: 74%;
                
                margin-bottom: 2%;   
                margin-left: 70%;
                }
            
                #form-login{
                    
                    background-repeat: no-repeat;
                width: 407px;
                height: 460px;
                color: white;
                }
                .no-cuenta a{
                    display: block;
                }
                .no-cuenta p{
                    display: block;
                }
                .boton{
                    margin-top: 62%;
                }
                }
                @media screen and (min-width: 769px) and (max-width : 1021px){
                    #room{
                        width: 100%;
                        background-size: cover;
                            
                        }
                        #form-blanco{
                    
                        width: 117%;
                        
                        margin-right: 74%;
                        
                        margin-bottom: 2%;   
                        margin-left: 70%;
                        }
                    
                        #form-login{
                            
                            background-repeat: no-repeat;
                        width: 407px;
                        height: 460px;
                        color: white;
                        }
                        .no-cuenta a{
                            display: block;
                        }
                        .no-cuenta p{
                            display: block;
                        }
                        .boton{
                            margin-top: 62%;
                        }
                    
                    
                     }
                     @media screen and (min-width: 1021px) {
                        #room{
                            width: 100%;
                            background-size: cover;
                                
                            }
                            #form-blanco{
                        
                            width: 117%;
                            
                            margin-right: 74%;
                            
                            margin-bottom: 2%;   
                            margin-left: 70%;
                            }
                        
                            #form-login{
                                
                                background-repeat: no-repeat;
                            width: 407px;
                            height: 460px;
                            color: white;
                            }
                            .no-cuenta a{
                                display: block;
                            }
                            .no-cuenta p{
                                display: block;
                            }
                            .boton{
                                margin-top: 62%;
                            }
                        
                         }
         
