@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0b3860 80.34%);
}

*{
    padding: 0  ;
    margin: 0;
    
    
}

.todo{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

#espacio {
    position: absolute;
    background: linear-gradient(90deg, rgba(51,122,183,1) 1%, rgba(11,56,96,1) 100%);
    backdrop-filter: blur(5px);
    color: var(--blanco);
    width: 31%;
    height: 12%;
    border-radius: 5px;
    margin-left: 37%;
    margin-top: 6%;
}


h2 {
    font-family: 'Marcellus', serif;
    display: flex;
    justify-content: center;
    margin-top: 5.5%;
    font-size: 2.0rem;
}

.campo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2%;
    margin-left: -132%;
    width: 91%;
    padding: 0.9rem;
    font-size: 1.0em;
    margin-left: 2%;
    border: black;
}

.black{
    border: black;
    border-color: black;
}

.boton {
    text-decoration: none;
    font-family: 'Marcellus', serif;
    width: 303px;
    height: 66px;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    margin-left: 34%;
    padding: 0.5em;
}

.imagen{
    position: absolute;
    background-image: url(../img/ciudad-terminos.jpg);
    background-repeat: no-repeat;
    width: 100% ;
    height: 100%;
}   

.white {
    margin-top: 11%;
    background-color: white;
    margin-left: 37%;
    margin-right: 32%;
    padding: 1.1rem;
}

p.parrafo2 {
    margin-top: 9%;
    padding: -1.8em;
    margin-bottom: 7%;
}

@media screen and (min-width : 320px) and (max-width : 768px){
    
    div#espacio {
        width: 73%;
        margin-left: 16%;
    }
    h2{
        text-align: center;
        font-size: 1.4em;
    }

    .boton{
        margin-top: 10%;
        margin-left: 2%;
    }

    .white {
        width: 62%;
        margin-left: 16%;
        margin-top: 32%;
    }
    
    .imagen {
        height: 150%;
    }

    .boton{
        margin-left: 25%;
    }
}

    @media screen and (min-width: 768px) and (max-width: 1100px){

        div#espacio {
            width: 46%;
            height: 14%;
            margin-left: 30%;
        }

        .white {
            width: 41.3%;
            margin-left: 30%;
            margin-top: 14%;
        }

        .imagen {
            height: 115%;
        }
    }

    